<div class="searchbar" [@closedOpenOpenwide]="(isOpenWide) ? 'openedWide' : isOpen ? 'opened' : 'closed'">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="St. Lawrence Market, Toronto" [(ngModel)]="searchValue" (keyup.enter)="search()">
    <!-- <mat-icon matSuffix (click)="searchValue ? search() : clear()">{{ searchValue ? 'close' : 'search' }}</mat-icon> -->
  </mat-form-field>
  <div *ngIf="isOpenWide">
    <mat-list>
      <mat-list-item *ngFor="let result of results" matRipple (click)="itemTapped(result)">
        {{ result.place_name }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
